/* custom nav */
nav {
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
}
.logo,
.nav-links a,
.dropdown-btn {
  color: #ed213a;
}
.drop {
  background: linear-gradient(to right, #2193b0, #5fa6e0);
}
.drop a {
  color: #dcdcdc;
}
.dropdown-btn:hover {
  color: #db5635;
}
.drop-link:hover {
  background: #0078b0;
}
.burger div {
  background: #ed213a;
}
@media screen and (max-width: 768px) {
  .nav-links {
    background: linear-gradient(to right, #ecacb4, #ffdde1);
  }
}
/* end custom nav */

/* main */
.todo-content {
  min-height: 92vh;
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  color: white;
  font-family: "Poppins", sans-serif;
}
/* form */
form {
  min-height: 26vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* input todo */
.todo-input,
.todo-button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
.todo-input {
  border-radius: 5px 0 0 5px;
  min-width: 45%;
  outline: none;
}
.todo-button {
  color: #414345;
  background: #f7fffe;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.todo-button:hover {
  background: #414345;
  color: white;
}
/* end input todo */
/* end form */

/* todo container */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* todo list */
.todo-list {
  min-width: 80%;
  list-style: none;
}

/* todo div: todo value & delete and save buttons */
.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 5px;
}

/* select */
.filter-todo {
  padding: 1rem;
}

/* delete and save button */
.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
/* delete button */
.trash-btn {
  border-radius: 0 5px 5px 0;
}
/* save button */
.complete-btn {
  background: #0bd4a2;
}

/* todo li */
.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

/* delete anim */
.fall {
  transform: translateY(15rem) rotateZ(15deg);
  opacity: 0;
}
/* save anim */
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* custom select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
select {
  cursor: pointer;
  width: 12rem;
  font-size: 1rem;
  background: white;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1rem;
  background: #414345;
  cursor: pointer;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .todo-input,
  .todo-button {
    padding: 0.4rem;
    font-size: 1.5rem;
  }
  .filter-todo {
    padding: 0.65rem;
  }
  .select::after {
    padding: 0.65rem 0.65rem;
  }
  .todo {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .todo-input {
    margin-left: 17px;
  }
  .todo-input,
  .todo-button {
    font-size: 1.2rem;
  }
  .filter-todo {
    padding: 0.5rem;
  }
  .select::after {
    padding: 0.5rem 0.5rem;
  }
  .todo {
    font-size: 1rem;
  }
  .trash-btn,
  .complete-btn {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}

/* mobile */
@media screen and (max-width: 524px) {
  .todo-input,
  .todo-button {
    font-size: 1rem;
  }
  .filter-todo {
    padding: 0.4rem;
  }
  .select::after {
    padding: 0.4rem 0.4rem;
  }
  .todo-input::placeholder {
    font-size: 13px;
  }
  .todo {
    font-size: 0.8rem;
  }
  .trash-btn,
  .complete-btn {
    padding: 0.6rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 376px) {
  .filter-todo {
    padding: 0.3rem;
  }
  .select::after {
    padding: 0.3rem 0.3rem;
  }
  .todo-input::placeholder {
    font-size: 11px;
  }
}
@media screen and (max-width: 326px) {
  .filter-todo {
    padding: 0.3rem;
  }
  .select::after {
    padding: 0.3rem 0.3rem;
  }
  .todo-input::placeholder {
    font-size: 9px;
  }
}
