.home-content {
  min-height: 92vh;
  background-image: url("../img/home-pic.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.project-desc {
  padding: 3rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #d3d3d3;
  width: 90%;
}

.project-desc a {
  color: #7ea7c0;
}

@media screen and (max-width: 1308px) {
  .project-desc {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .project-desc {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .project-desc {
    font-size: 11px;
  }
}
