nav {
  background: linear-gradient(to right, #ffe259, #ffa751);
}
.logo {
  color: #4169e1;
}
.nav-links a {
  color: #4169e1;
}
.dropdown a {
  color: #dcdcdc;
}
.drop-link:hover {
  background: #f45c43;
}
.dropdown-btn {
  color: #4169e1;
}
.dropdown-btn:hover {
  color: #123dbe;
}
.drop {
  background: linear-gradient(to right, #e52d27, #b31217);
}
.burger div {
  background: #4169e1;
}
@media screen and (max-width: 768px) {
  .nav-links {
    background: linear-gradient(to right, #fcc141, #ffa751);
  }
}

/* container */
.sequencer {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  min-height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* main tracks */
.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-top: 3rem;
}
/* controls */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 3rem;
}
.controls .mute {
  padding: 1rem;
  border: none;
  background: #585858;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 5px;
  margin: 0 2rem;
}
.controls select {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
}
.mute.active {
  background: #b6b6b6;
}
/* sound */
.kick,
.snare,
.hihat {
  display: flex;
  flex-wrap: wrap;
}
/* pads */
.pad {
  transition: all 0.5s ease;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: #c1e1ec;
}
.snare-pad {
  background: #ffb6c1;
}
.hihat-pad {
  background: #ffdab9;
}
.kick-pad.active {
  background: #72bcd4;
}
.snare-pad.active {
  background: #ff6f85;
}
.hihat-pad.active {
  background: #fdad5c;
}
/* play button */
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: #585858;
  color: white;
  margin-top: 3rem;
  border-radius: 5px;
}
/* tempo */
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: #585858;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}
.tempo p {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

/* pads animation */
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1541px) {
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media screen and (max-width: 1061px) {
  .kick-track,
  .snare-track,
  .hihat-track {
    flex-direction: column;
  }
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (max-width: 512px) {
  .kick,
  .snare,
  .hihat {
    justify-content: center;
  }
}
