/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
i {
  pointer-events: none;
}
select {
  outline: none;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: linear-gradient(to right, #141e30, #243b55);
  font-family: "Poppins", sans-serif;
}
.logo {
  color: #dcdcdc;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #dcdcdc;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 15px;
}
/* dropdown */
.dropdown {
  position: relative;
  z-index: 1;
}
.drop {
  visibility: hidden;
  /* opacity: 0; */
  transform: translateY(-13px);
  transition: transform 0.35s ease;
  position: absolute;
  margin-top: 7px;
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 5px;
  width: 120px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.drop-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.drop-link:hover {
  background: #2060c7;
}
.dropdown-btn {
  background: none;
  font-family: "Poppins", sans-serif;
  color: #dcdcdc;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.2s ease;
}
.dropdown-btn:hover {
  color: #adacac;
}
.dropdown-active {
  visibility: visible;
  /* opacity: 1; */
  transform: translateY(0);
}
.rotate {
  transition: transform 0.18s linear;
}
.rotate-active {
  transform: rotate(180deg);
}
/* end dropdown */
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background: #dcdcdc;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.35s ease;
}
/* end nav */

/* tablet */
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
  .logo {
    font-size: 17px;
  }
  .nav-links a {
    font-size: 13px;
  }
  .dropdown-btn {
    font-size: 13px;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: linear-gradient(to right, #233246, #243b55);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transform: translateX(100%);
    z-index: 1;
    /* transition: transform 0.5s ease-in; */
  }
  .nav-links a {
    font-size: 15px;
  }
  .dropdown-btn {
    font-size: 15px;
  }
  .drop {
    width: 115px;
    height: 100px;
  }
  .nav-links li:not(.drop-link) {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}
@media screen and (max-width: 512px) {
  .nav-links a {
    font-size: 13px;
  }
  .dropdown-btn {
    font-size: 13px;
  }
  .drop {
    width: 105px;
    height: 95px;
  }
  .logo {
    font-size: 14px;
  }
}
@media screen and (max-width: 386px) {
  .nav-links a {
    font-size: 10px;
  }
  .dropdown-btn {
    font-size: 10px;
  }
  .drop {
    width: 95px;
    height: 85px;
  }
}
@media screen and (max-width: 324px) {
  .nav-links a {
    font-size: 8px;
  }
  .dropdown-btn {
    font-size: 8px;
  }
  .drop {
    width: 80px;
    height: 70px;
  }
}

/* if nav active */
.nav-active {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

/* links anim */
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* burger anim */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
