/* main content */
.home-content {
  min-height: 92vh;
  background-image: url("../img/home-pic.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* text and lists */
.project-desc {
  padding: 3rem 5rem 1rem;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #d3d3d3;
}

/* link */
.project-desc a {
  color: #7ea7c0;
}

/* tablet */
@media screen and (max-width: 1308px) {
  .project-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .project-desc {
    padding: 2rem 3rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .project-desc {
    font-size: 14px;
    padding: 1.5rem 2.5rem 0.75rem;
  }
}

/* mobile */
@media screen and (max-width: 512px) {
  .project-desc {
    font-size: 13px;
    padding: 1rem 2rem 0.55rem;
  }
}
